* {margin: 0; padding: 0; box-sizing: border-box;}
body {font-family: calibri; color: #55557f; font-size: 15px;}
hr {border: none; height: 1px; background: #eee;}
::-webkit-scrollbar {display: none;}
section {padding: 10px;}
.-container {border: 1px dashed #2AB5FF;}
    
    /* codes for alerts */
/* copy */
.copyAlert {width: 100%; background: greenyellow; padding: 5px; text-align: center; position: fixed; top: 10px; left: 0; transition: all 0.5s; transform: scale(0);}
.copyAlert.active {transform: scale(1);}
/* error */
.errMsg {width: 100%; background: #FF5500; padding: 5px; text-align: center; position: fixed; top: 10px; left: 0; color: #fff; transition: all 0.5s; transform: scale(0);}
.errMsg.active {transform: scale(1);}
/* success */
.succMsg {width: 100%; background: greenyellow; padding: 5px; text-align: center; position: fixed; top: 10px; left: 0; transition: all 0.5s; transform: scale(0);}
.succMsg.active {transform: scale(1);}

    /* codes for popup box */
#popup_wrapper {position: fixed; width: 100%; height: 100%; background: #00000050; z-index: 10; top: 0; left: 0;}
#popup_wrapper .box {position: absolute; top: 15%; left: 50%; transform: translateX(-50%); width: 400px; height: 70%; background: #fff; overflow: hidden; border-radius: 8px; padding-bottom: 20px;}
#popup_wrapper .box .text {padding: 10px; font-weight: bold;}
#popup_wrapper .box .image {max-height: 85%; overflow-y: scroll;}
#popup_wrapper button {position: absolute; bottom: 0; left: 0; width: 100%; padding: 5px; border: none; background: #2AB5FF; color: #fff; font-size: 20px; cursor: pointer;}

    /* codes for step 1 */
#step_1 .title {background: #2AB5FF; padding: 8px; margin: 3px; color: #fff; font-size: 17px;}
#step_1 .wrapper {display: flex; justify-content: space-between; padding: 8px; font-size: 15px;}
#step_1 .wrapper h5 {align-self: center;}
#step_1 .wrapper .right_item {display: flex;}
#step_1 .wrapper .right_item span {color: #F1A532; margin: 0 5px; white-space: nowrap; overflow: hidden; font-size: 13px; align-self: center; max-width: 187px;}
#step_1 .wrapper .right_item span#amount_input, #step_1 .wrapper .right_item span#name_input {margin-right: 20px;}
#step_1 .wrapper .right_item button {cursor: pointer; background: #3C9CFF; color: #fff; border: none; padding: 5px 10px; font-size: 10px; border-radius: 3px;}
    
    /* codes for step 2 */
#step_2 .title {background: #2AB5FF; padding: 8px; margin: 3px; color: #fff; font-size: 17px;}
#step_2 .item {padding: 5px 10px;}
#step_2 .item i {color: #FF5500;}
    
    /* codes for step 3 */
#step_3 {position: relative; margin-bottom: 50px;}
#step_3 .title {background: #2AB5FF; padding: 8px; margin: 3px; color: #fff; font-size: 17px;}
#step_3 .item {padding: 5px 10px;}
#step_3 .item i {color: #FF5500;}
#step_3 input[type="text"] {background: none; border: none; outline: none; width: 100%; padding: 25px;}
#step_3 input[type="text"]::placeholder {color: #ccc;}
#step_3 input[type="submit"] {background: #3F72AC; color: #fff; border: none; width: 97%; padding: 10px; cursor: pointer; border-radius: 3px; position: absolute; left: 1.5%; top: 100%;}

footer h4 {text-align: center; color: #ddd; margin-top: 30px; font-size: 19px; font-weight: 500;}

    /* codes for responsive */
@media screen and (max-width: 768px) {
    #popup_wrapper .box {height: 80%; top: 10%;}
}

@media screen and (max-width: 425px) {
    #popup_wrapper .box {width: 95%;}
}
